.root {
    -fx-background-color: #fff5f5;
    -fx-padding: 20;
}

.label.title-label {
    -fx-text-fill: #B71C1C;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.label {
    -fx-text-fill: #333333;
}

.separator {
    -fx-background-color: #ffcdd2;
}

.button {
    -fx-background-color: #ffebee;
    -fx-text-fill: #b71c1c;
}

.button:hover {
    -fx-background-color: #ffcdd2;
}

.btn-close-app {
    -fx-background-color: #b71c1c;
    -fx-text-fill: white;
}