.root {
    -fx-background-color: #f0f7ff;
    -fx-padding: 20;
}

.label.title-label {
    -fx-text-fill: #1976D2;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.label {
    -fx-text-fill: #455A64;
}

.separator {
    -fx-background-color: #BBDEFB;
}

.button {
    -fx-background-color: #e1f5fe;
    -fx-text-fill: #01579b;
}

.button:hover {
    -fx-background-color: #b3e5fc;
}

.btn-close-app {
    -fx-background-color: #455A64;
    -fx-text-fill: white;
}